.rectangleCounter {
    display: flex;
    border: solid 1px black;
    justify-content: space-around;
    width: 102px;
    height: 50px;
    background: white;
    font-family: Bahnschrift, serif;
    font-size: 17px;
    text-align: center;
    padding-top: 15px;
    position: relative;
}

.plusminus {
    background: white;
    padding-bottom: 11px;
    color: rgb(144, 144, 144);
}

.sizes {
    display: flex;
    justify-content: space-between;
    font-family: Bahnschrift, serif;
    font-size: 20px;
}

.container {
    padding: 2px;
}

.backbutton {
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-family: Bahnschrift, serif;
}

.dataDish{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}


.span3 {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 44px;
    text-align: justify;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Bahnschrift, serif;
}

.cost {
    text-align: justify;
    font-size: 28px;
    color: rgb(144,144,144);
    font-family: Bahnschrift, serif;
}

.outer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}


.fon_window_center {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.button_add {
    border: none;
    background-color: rgb(244,192,93);
    font-family: Bahnschrift, serif;
    font-size: 20px;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 11px;
    padding-bottom: 7px;
    position:relative;
    left: 10px;
}

.detailed {
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Bahnschrift, serif;
}

.info {
    font-size: 17px;
    color: rgb(144,144,144);
    font-family: Bahnschrift, serif;
}
