.avatar{
    border-radius: 10px;
}
.container_inner2{
	display: flex;
    flex-direction: row;
	text-align: center;
	justify-content:flex-start;
	padding: 20px;
}

.font_inner2{
    font-family: Bahnschrift;
	font-size: 24px;
    margin-right: 5px;
}

.field_inner2{
    border: 2px rgb(246,241,231);
	background-color: rgb(246,241,231);
	font-family: Bahnschrift;
	font-size: 20px;
	text-align: center;
    margin-right: 10px;
}

.data{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.userpage-fonheader{
	background-color: rgb(244,192,93);
}
.container{
	padding: 2px;
}

.userpage-header {
	background-size: 25px;
	font-family: IBM Plex Serif;
	font-size: 64px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgb(0, 0, 0);
    margin-left: 15%;
}

.button_in2{
	font-family: Bahnschrift;
}

.order{
	border: 5px rgb(244,192,93);
	display: flex;
	justify-content: space-between;
}

.order-list{
	border: 2px solid black;
	background-color: rgb(255, 222, 148);
	padding: 20px;
	width: 80%;
	alignment: center;
	margin: 20px auto auto;
}

.d{
	alignment: center;
	padding-bottom: 25px;
}
.orders-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.dishes-container{
	display: flex;
	flex-direction: column;
	text-align: right;
	width: 50%;
}

.order-text{
	font-family: Bahnschrift, serif;
	font-size: 16px;
}
.order-text-id {
	width: 10%;
}
.order-text-date{
	width: 30%;
	text-align: left;
}
h-line {
	display: block;
	height: 2px;
	border: 0;
	border-top: 1px solid #000;
	margin: 1em 0;
	padding: 0;
}
.main-container {
	display: flex;
	flex-direction: column;
}
.admins-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	font-family: Bahnschrift, serif;
}
.admin-text{
	color: black;
	font-size: 16px;
}
.userpage-link{
	text-decoration: none;
	text-align: center;
}

.userpage-link:hover{
	text-decoration: underline;
	color: black;
}

.container_inner{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	padding: 2px;
	padding-top: 20px;
}

.font_inner{
	font-family: Bahnschrift, serif;
	font-size: 24px;
	text-align: center;
}

.field_inner{
	border: 2px rgb(246,241,231);
	background-color: rgb(246,241,231);
	font-family: Bahnschrift, serif;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
}
